---
import Layout from "../../layouts/Layout.astro";
import { LitCounter } from "../../components/lit/Counter.lit";
---

<Layout title="JuSt All the Frontends | lit">
  <main>
    <p>Lit</p>
    <LitCounter client:visible />
  </main>
</Layout>
