---
import Layout from "../../layouts/Layout.astro";
import "../../components/lit/HelloWorld.lit";
---

<Layout title="JuSt All the Frontends | lit">
  <main>
    <p>Lit</p>
    <hello-world />
    <hello-world name="Alfred" />
  </main>
</Layout>
