---
import Layout from "../../layouts/Layout.astro";
import HelloWorld from "../../components/solidjs/HelloWorld.solid";
---

<Layout title="JuSt All the Frontends | SolidJs">
  <main>
    <p>SolidJs</p>
    <HelloWorld />
    <HelloWorld name="Alfred" />
  </main>
</Layout>
